@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
  background-color: var(--main-bg);
  color: var(--white);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --main-bg: #000e09;
  --white: #ffffff;
  --bar-bg: #36a546;
  --bar-bg-border: #36a54680;
  --login-btn-text: #ffffff8c;
  --login-header: #36a546cc;
}

/* mobile */

body > div {
  min-height: 100dvh;
  padding: 1rem;
  display: grid;
}

.login-section {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  font-family: "Mulish", sans-serif;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-header img {
  width: 6rem;
}

.login-header p {
  color: var(--login-header);
  font-weight: 100;
  font-size: 21px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  width: 100%;
  padding: 0 2.5rem;
  max-width: 500px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input,
.login-form button {
  border-radius: 2rem;
  height: 3rem;
}

.login-form input {
  border: none;
  background: #1f191966 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
  padding-left: 1rem;
  color: var(--login-btn-text);
}

.login-form button {
  background: transparent
    linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
    no-repeat padding-box;
  border: 2px solid #8cff0026;
  color: var(--login-btn-text);
}

.login-form a {
  text-decoration: none;
  color: var(--bar-bg);
}

.home-section,
.employee-section {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.home-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-header a {
  align-self: flex-end;
}

.home-header a img {
  width: 4rem;
}

.home-header .notify {
  align-self: center;
  position: relative;
}

.home-header img {
  width: 5rem;
}

.home-header .notify div {
  position: absolute;
  bottom: 80%;
  left: 80%;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  background: #0f2323 0% 0% no-repeat padding-box;
  border: 1px solid #fffefe00;
  display: grid;
  align-items: center;
  justify-content: center;
}

.home-header .notify div p {
  opacity: 1;
  color: var(--bar-bg);
  font-family: "Source Sans 3", sans-serif;
}

.navbar {
  background: transparent linear-gradient(262deg, #0f2323 0%, #0f2323 40%) 0% 0%
    no-repeat padding-box;
  box-shadow: inset 8px 4px 4px #00000040;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.navbar img {
  width: 1.85rem;
}

.dashboard {
  align-self: center;
  background-color: #131816;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 500px;
}

.dashboard .heading {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
  color: #ffffffb3;
  opacity: 0.84;
  background: #1a2c2c99 0% 0% no-repeat padding-box;
  padding: 1rem 0;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.dashboard .progresscard-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.progress-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  align-items: center;
  gap: 0.5rem;
  font-family: "Mulish", sans-serif;
}

.progress-container p:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 0.925rem;
}

.progress-container p:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  color: var(--bar-bg);
}

.progress-container .progress {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 80%;
  background-color: transparent;
  border-radius: 2rem;
}

.progress-container .bar {
  height: 1rem;
  background-color: #36a54680;
  border: 1px solid #36a546;
  border-radius: 2rem;
  max-width: 100%;
}

.employee-section {
  font-family: "Mulish", sans-serif;
  margin-bottom: 4rem;
}

.employee-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  width: 100%;
  max-width: 500px;
  align-self: center;
}

.search-bar input {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #131816;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  color: var(--white);
  padding-left: 2rem;
}

.search-bar img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 1.5rem;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}

.card-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.employee-card {
  background-color: #131816;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 0.4fr 0.1fr 1fr;
  gap: 1rem;
  position: relative;
}

.employee-card .title {
  color: #b9baba;
}

.employee-card .dob {
  color: #86591d;
}

.employee-card .pos {
  color: #2c7c38;
}

.employee-card .card-id {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  margin: 0.5rem;
  background-color: #191f1e;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: #b9baba;
}

.login-red {
  place-self: center;
  font-size: 1.2rem;
  color: #b9baba;
}

.login-red a {
  text-decoration: none;
  color: var(--bar-bg);
}

/* tablet */

@media (min-width: 436px) {
  .card-holder {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .employee-card {
    min-width: 400px;
  }
}
